/* CSS Reset */

*{
    margin: 0;
    padding: 0;
}
/* CSS Variables */
:root{
    --navbar-height:59px;
}
/* navigation bar */
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}